body{
    background: rgb(35, 35, 34);
}
.content{
    background: black;
    width: 47%;
    height: 664px;
    margin: auto;
    display: flex;
}
.post{
    background: white;
    margin-left: 165px;
    margin-right: 165px;
    margin-bottom: 70px;
    margin-top: 50px;    
}

p{
    justify-content: center;
}